<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <a href="<%= new_customer_path %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> New Customer </a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Active Subscribers</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_subscribers.count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Attendance</div>
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @yesterday_attendance.count %>
            <span class="text-center"> | </span>
            <span class="h5 mb-0 font-weight-bold text-gray-800"><%= @today_attendance.count %> </span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Expirations</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @expirations %></div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Upcoming Birthday</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @birthday_count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Active Subscribers</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover nowrap" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Surefit ID</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Active Subscription</th>
            <th>Balance</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Last Attendance</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @current_subscribers.each do |cs| %>
            <tr>
              <td><%= cs.customer.slug %></td>
              <td><%= link_to cs.customer.full_name, cs.customer %></td>
              <td><%= cs.customer.gender %></td>
              <td><%= cs.plan.membership_type %></td>
              <td><%= cs.balance  %></td>
              <td><%= cs.start_date %></td>
              <td><%= cs.end_date %></td>
              <td><%= cs.customer.last_date_attended %></td>
              <td>
                <%= link_to 'Edit', edit_customer_path(cs.customer), class: "btn btn-primary d-sm-inline-block btn-sm" %>
                <% if cs.customer.last_date_attended != Date.today  %>
                  <%= link_to 'Check-In', check_in_customer_path(cs.customer), method: :post, class: "btn btn-warning d-sm-inline-block btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>