<h1 class="h3 mb-2 text-gray-800">Customers</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">List of customers</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Surefit ID</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Date joined</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.slug %></td>
              <td><%= customer.full_name %></td>
              <td><%= customer.gender %></td>
              <td><%= customer.date_joined %></td>
              <td><%= customer.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Customer', new_customer_path %>
