

<h1>Subscriptions</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Subscriptions</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Plan Name</th>
            <th>Receipt number</th>
            <th>Mode of payment</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Amount paid</th>
            <th>Balance</th>
            <th>Discount</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @subscriptions.each do |subscription| %>
            <tr>
              <td><%= subscription.plan.subscription_name %></td>
              <td><%= subscription.receipt_number %></td>
              <td><%= subscription.mode_of_payment %></td>
              <td><%= subscription.start_date %></td>
              <td><%= subscription.end_date %></td>
              <td><%= subscription.amount_paid %></td>
              <td><%= subscription.balance %></td>
              <td><%= subscription.discount %></td>
              <td><%= subscription.status %></td>
              <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
