<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Subscriptions</h1>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Customer</th>
            <th>Plan Name</th>
            <th>Receipt number</th>
            <th>Mode of payment</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Amount paid</th>
            <th>Balance</th>
            <th>Discount</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Prepared By</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @subscriptions.each do |subscription| %>
            <tr>
              <td><%= subscription.customer.full_name %></td>
              <td><%= subscription.plan.subscription_name %></td>
              <td><%= subscription.receipt_number %></td>
              <td><%= subscription.mode_of_payment %></td>
              <td><%= subscription.start_date %></td>
              <td><%= subscription.end_date %></td>
              <td><%= subscription.amount_paid %></td>
              <td><%= subscription.balance %></td>
              <td><%= subscription.discount %></td>
              <td><%= subscription.status %></td>
              <td><%= subscription.notes %></td>
              <td><%= subscription.prepared_by %></td>
              <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
