<%= form_with(model: measurement, local: true) do |form| %>
  <% if measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body_weight %>
    <%= form.text_field :body_weight, id: :measurement_body_weight %>
  </div>

  <div class="field">
    <%= form.label :hips %>
    <%= form.text_field :hips, id: :measurement_hips %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
