<p id="notice"><%= notice %></p>

<p>
  <strong>Body weight:</strong>
  <%= @measurement.body_weight %>
</p>

<p>
  <strong>Hips:</strong>
  <%= @measurement.hips %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
