

<h1>Plans</h1>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @plans.each do |plan| %>
            <tr>
              <td><%= plan.name %></td>
              <td><%= plan.plan_type %></td>
              <td><%= plan.duration %></td>
              <td><%= link_to 'Edit', edit_plan_path(plan) %> |
                  <%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Plan', new_plan_path %>
