<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Plans</h1>
  <% if current_user.admin? %>
    <a href="<%= new_plan_path %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> New Plan </a>
  <% end %>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover nowrap" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Duration</th>
            <% if current_user.admin? %>
              <th>Actions</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @plans.each do |plan| %>
            <tr>
              <td><%= plan.name %></td>
              <td><%= plan.plan_type %></td>
              <td><%= plan.duration %></td>
              <% if current_user.admin? %>
                <td><%= link_to 'Edit', edit_plan_path(plan), class: "btn btn-primary d-sm-inline-block btn-sm" %>
                    <%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger d-sm-inline-block btn-sm" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
