<p id="notice"><%= notice %></p>

<p>
  <strong>Date attended:</strong>
  <%= @attendance.date_attended %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @attendance.deleted %>
</p>

<p>
  <strong>User:</strong>
  <%= @attendance.user %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @attendance.customer %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
