<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter"><%= Subscription.today_expiry.count + Subscription.upcoming_expiry.count %></span>
      </a>
      <!-- Dropdown - Alerts -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
          Alerts Center
        </h6>

        <% Subscription.today_expiry.each do |subs| %>
          <%= link_to(subs.customer, class: "dropdown-item d-flex align-items-center") do %>
            <div class="mr-3">
              <div class="icon-circle bg-danger">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500"><%= subs.sub_end_date %></div>
              <span class="font-weight-bold"><%= "#{subs.customer.full_name}'s subscription expires today!" %></span><br>
              <%= "Balance to pay: ₦#{subs.balance}" %>
            </div>
          <% end %>
        <% end %>

        <div class="dropdown-item text-center small text-gray-500">Expiring Subscriptions</div>

        <% Subscription.upcoming_expiry.each do |subs| %>
          <%= link_to(subs.customer, class: "dropdown-item d-flex align-items-center") do %>
            <div class="mr-3">
              <div class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500"><%= subs.sub_end_date %></div>
              <%= "#{subs.customer.full_name}'s subscription expires soon!" %><br>
              <%= "Balance to pay: ₦#{subs.balance}" %>
            </div>
          <% end %>
        <% end %>
        <div class="dropdown-item text-center small text-gray-500">-</div>
      </div>
    </li>

    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-calendar fa-fw"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter"><%= Customer.today_birthday.count + Customer.upcoming_birthday.count %></span>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header">
          Birthday Reminders
        </h6>

        <% Customer.today_birthday.each do |customer| %>
          <%= link_to(customer, class: "dropdown-item d-flex align-items-center") do %>
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="<%= customer.avatar.thumb %>" alt="">
              <div class="status-indicator bg-success"></div>
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate"><%= customer.birthday %></div>
              <div class="small text-gray-500"><%= customer.full_name %> · Today!</div>
            </div>
          <% end %>
        <% end %>
        <div class="dropdown-item text-center small text-gray-500">Upcoming Birthdays</div>
        <% Customer.upcoming_birthday.each do |customer| %>
          <%= link_to(customer, class: "dropdown-item d-flex align-items-center") do %>
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="<%= customer.avatar.thumb %>" alt="">
              <div class="status-indicator bg-warning"></div>
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate"><%= customer.birthday %></div>
              <div class="small text-gray-500"><%= "#{customer.full_name} · in #{time_ago_in_words(customer.birthday)} time" %></div>
            </div>
          <% end %>
        <% end %>
        <div class="dropdown-item text-center small text-gray-500">.</div>
      </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.full_name %></span>
        <% if current_user.avatar? %>
          <%= image_tag(current_user.avatar.thumb, class:"img-profile rounded-circle") %>
        <% else %>
          <%= image_tag("default.png", class:"img-profile rounded-circle") %>
        <% end %>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">        
        <%= link_to raw('<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sign Out'), signout_path, method: :delete, class: "dropdown-item"  %>
      </div>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->