<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion collapse show" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Surefit</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item <%= 'active' if current_page?(home_index_path) %>">
    <%= link_to raw('<i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span>'), home_index_path, class: "nav-link side-links" %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(customers_path) %>">
    <%= link_to raw('<i class="fas fa-fw fa-cog"></i><span>Customers</span>'), customers_path, class: "nav-link side-links" %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(plans_path) %>">
    <%= link_to raw('<i class="fas fa-fw fa-wrench"></i><span>Plans</span>'), plans_path, class: "nav-link side-links" %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Admin
  </div>

  <li class="nav-item <%= 'active' if current_page?(subscriptions_path) %>">
    <%= link_to raw('<i class="fas fa-fw fa-table"></i><span>Subscriptions</span>'), subscriptions_path, class: "nav-link side-links" %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(attendances_path) %>">
    <%= link_to raw('<i class="fas fa-fw fa-table"></i><span>Attendances</span>'), attendances_path, class: "nav-link side-links" %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(users_path) %>">
    <%= link_to raw('<i class="fas fa-fw fa-user"></i><span>Users</span>'), users_path, class: "nav-link side-links" %>
  </li>

  <!-- Nav Item - Reports -->
  <li class="nav-item <%= 'active' if current_page?("#") %>">
    <%= link_to raw('<i class="fas fa-fw fa-chart-area"></i><span>Reports</span>'), "#", class: "nav-link side-links" %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->